#nav{
    width: 100%;
    height: 80px;
}
#nav-box{
    width: 1310px;
    height: 100%;
    margin: 0 auto;
}
#nav-box img{
    padding-top: 10px;
    float: left;
}
#nav-box ul{
    width: 602px;
    height: 100%;
    float: right;

}
#nav-box>ul>li{
    width: 56px;
    height: 100%;
    padding: 0 15px;
    float: left;
    font-size: 14px;
    line-height: 80px;
    text-align: center;

}
#nav-box>ul>li>a{
    color: #000000;
}
#nav-box>ul>li :hover{
    color: #0cb2ff;
}
/*主体部分开始*/
#container{
    width: 100%;
    height: 1300px;
    display: flex;
    flex-flow: wrap;
    margin: 0 auto;
}
.container-box{
    width: 50%;
    height: 50%;
    position: relative;
}
.container-item-zhezhao{
    width: 100%;
    height: 100%;
    background-color:black;
    position: absolute;
    top: 0;
    right: 0;
    opacity:0.3;
}
.container-item{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    overflow: hidden;
}
.container-item img {
    width: 100%;
    height: 100%;
    transition: all 0.6s;
}
.container-box:hover .container-item-zhezhao{
    opacity: 0.5;
}
.container-box:hover img{
    transform: scale(1.2);
}
.container-word{
    width: 140px;
    height: 140px;
    margin: 250px auto;
    text-align: center;
    color: #ffffff;
    font-size: 18px;
    font-weight: 300;
}
#container-word h3{
    font-size: 24px;
    font-weight: 300;
}
.span-line{
    width: 20px;
    height: 2px;
    border-bottom: 1px solid #eeeeee;
    margin: 20px auto;
}
.btn{
    width: 70px;
    height: 40px;
    border: 1px solid #eeeeee;
    margin: 20px auto;
    border-radius: 5px;
    line-height: 40px;
    text-align: center;
    color: #515151;
}
.btn:hover{
    background: white;
    color: black;
}
/*主体部分结束*/
#bottom{
    width: 100%;
    height: 30px;
    background: white;
}
#footer{
    width: 100%;
    height: 161px;
    background: #eeeeee;
}
#footer-box{
    width: 450px;
    height: 100%;
    margin: 0 auto;
}
#footer-box-i{
    width: 100%;
    height: 50px;
    padding-top:10px;
    display: flex;
    flex-flow: nowrap;
    justify-content: center;
}
#footer-box-i i{
    font-size: 30px;
    text-align: center;
    line-height: 50px;
    color: #00a0ce;
    margin: 0 10px;
}
#footer-box-word{
    width: 100%;
    height: 80px;
}
#footer-box-word>p{
    display: flex;
    flex-flow: nowrap;
    justify-content: center;
    font-size: 16px;
    color: #aaaaaa;
    line-height: 1.5;

}
#footer-box-word img{
    margin-left: 10px;
}
#footer-box-word>p>a{
    color: #62a8ea;
}